<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game & Grill</title>
    <link rel="stylesheet" href="css/css.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Logo -->
        Game & Grill
    </header>
    <main>
        <form action="">
            <label>Usuario:</label><br>
            <input type="text" name="usuario" required><br><br>

            <label>Email:</label><br>
            <input type="text" name="usuario" required><br><br>
            
            <label>Contraseña:</label><br>
            <input type="text" name="usuario" required><br><br>

            <label>Edad:</label><br>
            <input type="number" name="edad" min="0" max="120" required><br><br>
            
        </form>
    </main>
        <footer>
        yo bien
    </footer>
</body>
</html>