<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Match</title>
    <link rel="stylesheet" href="css/formPartida.css" th:href="@{/css/formPartida.css}">
</head>

<body class="form-body">

    <main class="form-container">
        <h2>Create new match</h2>

        <form th:action="@{/partidas/crear}" th:object="${partida}" method="post">

            <div class="form-group">
                <label>Title:</label>
                <input type="text" th:field="*{titulo}" required>
            </div>

            <div class="form-group">
                <label>Game:</label>
                <input type="text" th:field="*{juego}" required>
            </div>

            <div class="form-group">
                <label>Date:</label>
                <input type="date" th:field="*{fecha}" required>
            </div>

            <div class="form-group">
                <label>Location:</label>
                <input type="text" th:field="*{lugar}" required>
            </div>

            <div class="form-group">
                <label>Joined players:</label>
                <input type="number" th:field="*{jugadoresApuntados}" min="0" max="999" required>
            </div>

            <div class="form-group">
                <label>Max players:</label>
                <input type="number" th:field="*{jugadoresMax}" min="1" max="1000" required>
            </div>
            </div>

            <button type="submit" class="btn-submit">➕ Create match</button>

        </form>
    </main>

</body>

</html>