<!--http://localhost:8080/login-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesión - Game & Grill</title>

    <link rel="stylesheet" th:href="@{/css/css.css}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">

        <img src="@{/img/logo.png}" alt="Game & Grill Logo" class="logo">

        <h1> Bienvenido de vuelta</h1>

        <p class="subtitle">
            Juega, come y conecta con jugadores
        </p>

        <form action="http://localhost:8080/login" method="post">

            <label>Nombre</label>
            <input type="text" name="usuario" placeholder="Tu nombre" required>
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="••••••••" required>
            <button type="submit">
                Iniciar Sesion
            </button>

        </form>

        <a th:href="@{/register}" class="link">
            ¿No tienes cuenta? Registrate
        </a>

    </div>

</body>
</html>