<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="favicon">
        <link rel="icon" type="image/png" th:href="@{/favicon-96x96.png}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}" />
        <link rel="shortcut icon" th:href="@{/favicon.ico}" />
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}" />
        <link rel="manifest" th:href="@{/site.webmanifest}" />
    </th:block>
</body>
</html>